@import "tailwindcss";

:root {
  --default-font-family: "PT Mono";
}

html, body, #app {
  @apply w-dvw h-dvh;
}

#app {
  @apply 
    bg-zinc-900 text-zinc-200
    flex flex-col items-center justify-center;
}

input, button {
  @apply 
    focus-visible:outline-none
    will-change-transform transition duration-100
    ring-2 ring-zinc-400 hover:ring-zinc-100 
    rounded-full p-1;
}

input {
  @apply focus:ring-zinc-100 px-3;
}

.reactive {
  @apply 
    cursor-pointer
    will-change-transform transition duration-100
    active:scale-95;
}

@media (min-width: 768px) {
  .scroll-bar {
    &::-webkit-scrollbar {
      @apply w-3 bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply 
        bg-zinc-600 rounded-full 
        border-2 py-4 border-transparent
        bg-clip-content;
    }
  }
}

.container {
  @apply 
    lg:w-6/12 sm:w-10/12 w-full sm:h-10/12 h-full p-4 
    flex flex-col gap-4 items-center;
}

button svg {
  @apply size-6;
}

.top {
  .row {
    @apply flex gap-2 sm:px-16;
  }
}

.guess-input {
  @apply w-48;
}

.result-input {
  @apply w-24;
}

.bottom {
  @apply 
    flex-grow w-full
    grid grid-cols-2 md:gap-4;
}

.list {
  @apply flex flex-col;

  .title {
    @apply flex flex-col items-center;

    @media (max-width: 767px) {
      @apply cursor-pointer;

      &::after {
        content: "";
        @apply 
          block h-0.5 bg-zinc-400 rounded-full 
          transition-all duration-200 opacity-0 w-4/12;
      }
      &:has(+ .show)::after {
        @apply opacity-100 w-9/12;
      }
    }
  }
}

.list-wrapper {
  @apply flex-grow border-2 border-zinc-400 rounded-2xl mt-1 hidden;

  &.show {
    @apply block;
  }

  @media (max-width: 767px) {
    width: 200%;
    margin-top: 12px;
  }

  .scroll-bar {
    @apply overflow-x-hidden overflow-y-scroll h-full px-1;
  }
}

.guesses-list .list-wrapper {
  @apply py-2;
}

.candidates-list .list-wrapper {
  @apply relative overflow-hidden px-1 py-2;

  @media (max-width: 768px) {
    transform: translate(-50%);
  }

  span {
    @apply inline-block px-1 overflow-hidden transition-all duration-500;

    &.removed {
      @apply transition-none;
    }
  }

  .scroll-bar {
    @apply relative;
  }

  .loading-overlay {
    @apply 
      opacity-0 pointer-events-none
      absolute left-0 top-0 w-full h-full 
      flex items-center justify-center
      bg-zinc-600/20;

    &.show {
      @apply opacity-100;
    }

    .spinner {
      @apply size-16 animate-spin;
    }
  }
}

table {
  th, td {
    @apply px-1;
  }

  tr {
    @apply flex items-center;

    &::before {
      content: "";
      @apply inline-block rounded-full size-1 bg-zinc-300 ml-1 mr-2;
    }
  }
}
